/**
 * @name ClearVision V7 for Vencord
 * @author ClearVision Team
 * @version 7.0.0
 * @description Highly customizable theme for Vencord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */
/* IMPORT CSS */
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;300;400;500;700&display=swap');
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");
/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #2B76CB;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  /* APP BACKGROUND */
  --background-shading-percent: 75%;
  --background-image: url('https://i.imgur.com/GsJNmPQ.jpg');
  --background-attachment: fixed;
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));
  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);
  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-filter: var(--background-filter);
  /* HOME ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg);
  /* FONTS */
  --main-font: Source Sans Pro;
  --code-font: Consolas;
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.55);
  --card-shading: rgba(0, 0, 0, 0.2);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.4);
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* ADD ADDITIONAL CSS BELOW HERE */

/* Clan Tag opacity */
.c19a557985eb7793-clanTagChiplet {
    opacity:20% !important
}

._10651c5cfe637db6-chipletContainerInline {
    opacity:20%;
}

/*Removes stupid flashy nitro themes in sidebar*/
._4bbc6dc06e75ad52-container {
    display:none;
}

/*Removes stupid flashy nitro themes and pfp decoration in user profile panel*/
._0137000bc80ab6ea-profileEffects {
    display:none;
}

._44b0c28be7879b7b-avatarDecoration {
    display:none;
}

/* reverts retarded top bar implementation by setting height to zero and hiding */
.visual-refresh { --custom-app-top-bar-height: 0 }
.c38106a3f0c3ca76-leading {
	display:none;
}

.c38106a3f0c3ca76-title {
	display:none;
}

/* Moves typing/slowmode indicator below input */
.b8880176888cc928-inTextChannel.b8880176888cc928-base {
	 position: relative;
	 height: 0px !important;
 	 bottom: 6px;
 	 top: -10px;
}

.f75fb00fb7356cbe-channelTextArea {
	top:-12px;
}

/* Removes gradient base */
._36d072eab2b2e737-chatGradientBase {
    display:none;
}

/* Fix spacer between text box and messages CHANGE WITH RESOLUTION */
._36d072eab2b2e737-scrollerSpacer {
    height: 5px;
}

/*Fix text box visibility (clearvision only)*/
.f75fb00fb7356cbe-form {
    margin-top: 14px;
}

/* Inbox location fix CHANGE WITH RESOLUTION*/
.c38106a3f0c3ca76-trailing {
	top: 1.5rem;
    left: 98.7%;
	z-index: 150;
	}

._9293f6b2fc12398a-children {
    max-width: 71%;
}

/* Removes Help Button */
._85643a485899904b-button {
    display: none;
}

/* Gives scroll back to settings and stops it from kmsing */
.e4491282b6a5364a-modal {
    overflow: auto;
}

._8a031a135bfcb9ba-container {
    width: 100% !important;
}

/*Fixes bottom left profile panel*/
._5e434347c823b592-panels {
    background: hsl(from var(--hsl-background-shading) h s l / calc(var(--background-shading-percent)* 0.5));
    border-radius: 0;
    border: none;
    width: 100%;
    left: 0;
    bottom: 0;
    height:65px;
    padding: 8px;
}

/* Remove retarded capitalisation rules that even Wikipedia banned */
._0f481cbbd7530492-barButtonBase {
    text-transform: none;
}

/*Make the stupid servers sidebar padding waste less space*/
.visual-refresh {
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding)*1.1);
}

/* Make the pinned messages dropdown actually drop all the way down and move it up */
.e8b59c4b335dd2fc-messagesPopoutWrap {
    max-height: 100vh!important;
}

.e8b59c4b335dd2fc-messagesPopoutWrap {
    top: 0px !important;
}

._4e35b986167c457d-tooltip {
    display:none;
}

/* Make the inbox dropdown actually drop all the way down */
._957962c2bd49881b-recentMentionsPopout {
    max-height: 96vh!important;
}

/*Make context menu more compact*/
.c1e9c47c23f12ca3-separator{
 --custom-menu-separator-margin: 3px !important; 
}

/*Remove Promoted*/
._32c75a165652a80d-header {
    display:none;
}

/* Dimmer read channel background */
._2ea32c412048f708-name {
    color:gray
}

/* No unread glow */
._2ea32c412048f708-unread {
    box-shadow:none !important;
}
._581051df43c5ebb6-item {
    box-shadow:none;
}

/* No smaller font size for threads */
._2ea32c412048f708-typeThread ._2ea32c412048f708-name {
    font-size: unset !important;
}

/* Hide x in voice balloon */
._7aaec78b97ff00f7-voiceBar {
    display:none;
}

/*Anti-Nitro*/
[data-settings-sidebar-item="nitro_panel"] { display: none !important; }
._5d473ecff348c314-premiumIcon {
    display:none;
}

/*In appearance panel*/
.a1d343a407a39907-container {
    display:none;
}
.fbfab602fa801e7a-colorThemesBackground {
    display:none;
}
._6b52d39a14c2d258-selectionGroup {
    display:none;
}
