/**
 * @name ClearVision V7 for Vencord
 * @author ClearVision Team
 * @version 7.0.0
 * @description Highly customizable theme for Vencord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */
/* IMPORT CSS */
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;300;400;500;700&display=swap');
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");
/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #2B76CB;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  /* APP BACKGROUND */
  --background-shading-percent: 75%;
  --background-image: url('https://i.imgur.com/GsJNmPQ.jpg');
  --background-attachment: fixed;
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));
  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);
  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-filter: var(--background-filter);
  /* HOME ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg);
  /* FONTS */
  --main-font: Source Sans Pro;
  --code-font: Consolas;
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.55);
  --card-shading: rgba(0, 0, 0, 0.2);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.4);
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* ADD ADDITIONAL CSS BELOW HERE */

/* Clan Tag opacity */
.chipletContainerInline__10651 {
    opacity:20% !important
}

/*Removes stupid flashy nitro themes in sidebar*/
.container__4bbc6 {
    display:none;
}

/*Removes stupid flashy nitro themes and pfp decoration in user profile panel*/
.profileEffects__01370 {
    display:none;
}

.avatarDecorationContainer__44b0c {
    display:none;
}

.avatarDecoration_c19a55 {
    display:none;
}

/* reverts retarded top bar implementation by setting height to zero and hiding clearvision and titlebar */
.visual-refresh { --custom-app-top-bar-height: 0 }
.leading_c38106 {
	display:none;
}

.title_c38106 {
	display:none;
}

/* Moves typing/slowmode indicator below input */
.inTextChannel_b88801.base_b88801 {
	 position: relative;
	 height: 0px !important;
 	 bottom: 6px;
 	 top: -10px;
}

.channelTextArea_f75fb0 {
	top:-12px;
}

/* Removes gradient base */
.chatGradientBase__36d07 {
    display:none;
}

/* Fix spacer between text box and messages CHANGE WITH RESOLUTION */
.scrollerSpacer__36d07 {
    height: 5px;
}

/*Fix text box visibility (clearvision only)*/
.form_f75fb0 {
    margin-top: 14px;
}

/* Inbox location fix CHANGE WITH RESOLUTION*/
.clickable_c99c29 {
	top: 1.5rem;
    left: 123.6rem;
	z-index: 150;
	}

.children__9293f {
    max-width: 73.5%;
}

.trailing_c38106 {
	z-index: 150;
}

/* Removes Help Button */
.button__85643 {
    display: none;
}

/* Stops settings from kmsing */
.outerContainer_e44912 {
	width:1333px !important
}

/*Fixes bottom left profile panel*/
.panels__5e434 {
    background: hsl(from var(--hsl-background-shading) h s l / calc(var(--background-shading-percent)* 0.5));
    border-radius: 0;
    border: none;
    width: 100%;
    left: 0;
    bottom: 0;
    height:65px;
    padding: 8px;
}

/* Remove retarded capitalisation rules that even Wikipedia banned */
.barButtonBase__0f481 {
    text-transform: none;
}

/*Make the stupid servers sidebar padding waste less space*/
.visual-refresh {
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding)*1.1);
}

/* Make the pinned messages dropdown actually drop all the way down and move it up */
.messagesPopout_e8b59c {
    max-height: 100vh!important;
	top: 0px !important;
}

/* Make the inbox dropdown actually drop all the way down */
.recentMentionsPopout__95796 {
    max-height: 96vh!important;
}

/*Make context menu more compact*/
.separator_c1e9c4 {
 --custom-menu-separator-margin: 3px !important; 
}

/* Dimmer read channel background */
.name__2ea32 {
    color:gray
}

/* No unread glow */
.unread__2ea32 {
    box-shadow:none !important;
}
.item__58105 {
    box-shadow:none;
}

/* No smaller font size for threads */
.typeThread__2ea32 {
    font-size: unset !important;
}

/* Hide x in voice balloon */
._7aaec78b97ff00f7-voiceBar {
    display:none;
}

/*Anti-Nitro*/
[data-settings-sidebar-item="nitro_panel"] { display: none !important; }
._5d473ecff348c314-premiumIcon {
    display:none;
}
[aria-label="Send a gift"] { display: none !important; }

/*In appearance panel*/
.a1d343a407a39907-container {
    display:none;
}
.fbfab602fa801e7a-colorThemesBackground {
    display:none;
}
._6b52d39a14c2d258-selectionGroup {
    display:none;
}
